In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep=';', encoding='latin1')

In [20]:

df_furto_celular = df.groupby('cisp')['furto_celular'].sum().reset_index()
df_furto_celular = df_furto_celular.sort_values(by='furto_celular', ascending= False)
df_furto_celular

     cisp  furto_celular
12     16          24879
2       5          23117
10     14          16945
8      12          16008
0       1          14968
..    ...            ...
87    104             72
77     92             63
131   157             55
114   138             52
129   155             47

[138 rows x 2 columns]

In [21]:
array_furto_celular = np.array(df_furto_celular['furto_celular'])

In [22]:
media = np.mean(array_furto_celular)
mediana = np.median(array_furto_celular)
q1 = np.quantile(array_furto_celular, 0.25)
q2 = np.quantile(array_furto_celular, 0.50)
q3 = np.quantile(array_furto_celular, 0.75)
distancia = (media - mediana) / mediana
iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'A média é {media}')
print(f'A mediana é {mediana}')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil (Q3): {q3}')
print(f'A distancia entre a média e mediana é de {distancia *100}')
print(f'o valor do Limite superior é{limite_superior}')
print(f'o valor do Limite inferior é{limite_inferior}')

A média é 3338.1159420289855
A mediana é 1633.5
Primeiro quartil (Q1): 449.0
Segundo quartil (Q2, Mediana): 1633.5
Terceiro quartil (Q3): 4498.25
A distancia entre a média e mediana é de 104.35359302289473
o valor do Limite superior é10572.125
o valor do Limite inferior é-5624.875

In [23]:
# Filtrar outliers acima do limite superior
outliers_furto_celular = df_furto_celular.loc[df_furto_celular["furto_celular"] > limite_superior]

outliers_furto_celular

    cisp  furto_celular
12    16          24879
2      5          23117
10    14          16945
8     12          16008
0      1          14968
5      9          14159
6     10          14105
1      4          13318
14    18          12939
28    32          12206
31    35          11824

In [24]:
outliers_furto_celular.to_csv('outlier_furto_celular.csv', sep = ';', index=False)