In [17]:
import pandas as pd

In [5]:
# 1. carregar os dados
df = pd.read_csv("https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv", sep=';', encoding='utf-8', low_memory=False)

In [6]:
# 2. visualizar colunas para identificar nome da delegacia e tipo de crime
print(df.columns)
# Exemplo: pode haver colunas como 'CISP', 'Delegacia', 'Ano', 'Mes', 'RouboVeiculo', 'FurtoVeiculo', etc.

Index(['cisp', 'mes', 'ano', 'mes_ano', 'aisp', 'risp', 'munic', 'mcirc',
       'regiao', 'hom_doloso', 'lesao_corp_morte', 'latrocinio', 'cvli',
       'hom_por_interv_policial', 'letalidade_violenta', 'tentat_hom',
       'lesao_corp_dolosa', 'estupro', 'hom_culposo', 'lesao_corp_culposa',
       'roubo_transeunte', 'roubo_celular', 'roubo_em_coletivo', 'roubo_rua',
       'roubo_veiculo', 'roubo_carga', 'roubo_comercio', 'roubo_residencia',
       'roubo_banco', 'roubo_cx_eletronico', 'roubo_conducao_saque',
       'roubo_apos_saque', 'roubo_bicicleta', 'outros_roubos', 'total_roubos',
       'furto_veiculos', 'furto_transeunte', 'furto_coletivo', 'furto_celular',
       'furto_bicicleta', 'outros_furtos', 'total_furtos', 'sequestro',
       'extorsao', 'sequestro_relampago', 'estelionato', 'apreensao_drogas',
       'posse_drogas', 'trafico_drogas', 'apreensao_drogas_sem_autor',
       'recuperacao_veiculos', 'apf', 'aaapai', 'cmp', 'cmba', 'ameaca',
       'pessoas_desaparecidas', 'encontro_cadaver', 'encontro_ossada',
       'pol_militares_mortos_serv', 'pol_civis_mortos_serv',
       'registro_ocorrencias', 'fase'],
      dtype='object')

In [12]:
# 3. filtrar apenas ocorrências de roubo/furto de veículos (ajuste conforme o nome das colunas)
df_veiculos = df[['cisp', 'ano', 'mes', 'roubo_veiculo', 'furto_veiculos']]

In [13]:
# 5. agrupar por delegacia e sumarizar (total e média mensal)
agg = df_veiculos.groupby('cisp').agg(
    total_roubo = ('roubo_veiculo', 'sum'),
    media_mensal_roubo = ('roubo_veiculo', 'mean'),
    total_furto = ('furto_veiculos', 'sum'),
    media_mensal_furto = ('furto_veiculos', 'mean'),
    meses = ('roubo_veiculo', 'count')
).reset_index()

In [15]:
# 6. identificar “outliers” — por exemplo, delegacias com media muito acima da mediana
median_roubo = agg['media_mensal_roubo'].median()
threshold = median_roubo * 2  # por exemplo, 2× a mediana
outliers = agg[agg['media_mensal_roubo'] > threshold]

print("Delegacias com média de roubos > 2× mediana:", outliers)

Delegacias com média de roubos > 2× mediana:      cisp  total_roubo  media_mensal_roubo  total_furto  media_mensal_furto  \
3       6         4540           16.569343         2237            8.164234
5       9         4627           16.886861         8078           29.481752
6      10         2903           10.594891         6766           24.693431
12     16         5830           21.277372        12321           44.967153
13     17         7552           27.562044         3698           13.496350
14     18         7152           26.102190         4087           14.916058
15     19         6721           24.529197         3459           12.624088
16     20         8950           32.664234         4288           15.649635
17     21        19389           70.762774         5878           21.452555
18     22        14935           54.507299         7961           29.054745
19     23        10660           38.905109         4585           16.733577
20     24        11664           42.569343         2962           10.810219
21     25        10864           39.649635         1833            6.689781
22     26         7585           27.682482         2813           10.266423
23     27        27214           99.321168        11810           43.102190
24     28        10886           39.729927         3551           12.959854
25     29        15919           58.098540         5803           21.178832
26     30        12526           45.715328         5296           19.328467
27     31        14647           53.456204         3003           10.959854
28     32         8170           29.817518         5714           20.854015
29     33        17732           64.715328         8167           29.806569
30     34        27172           99.167883         9725           35.492701
31     35        19032           69.459854        14404           52.569343
32     36         5125           18.704380         4952           18.072993
33     37         7343           26.799270         5595           20.419708
34     38        19525           71.259124         6474           23.627737
35     39        28669          104.631387         3831           13.981752
36     40        18798           68.605839         3653           13.332117
37     41         6320           23.065693         3855           14.069343
38     42         3608           19.294118         6500           34.759358
40     44        14412           52.598540         2751           10.040146
43     50         4019           14.667883         3306           12.065693
45     52        15205           55.492701        10496           38.306569
46     53         8286           30.240876         4430           16.167883
47     54        24273           88.587591         7693           28.076642
48     55         2503            9.135036         2276            8.306569
49     56        11679           42.624088         3659           13.354015
50     57        12339           45.032847         4989           18.208029
51     58        15864           57.897810         6372           23.255474
52     59        36631          133.689781        14654           53.481752
53     60        19889           72.587591         5356           19.547445
55     62         8868           32.364964         2482            9.058394
57     64        31798          116.051095        11463           41.835766
59     66         2700            9.854015         2739            9.996350
62     71         7945           28.996350         4426           16.153285
63     72        13670           49.890511         8933           32.602190
64     73        13538           49.408759         6105           22.281022
65     74        17556           64.072993         7340           26.788321
66     75         9805           35.784672         2333            8.514599
67     76         3332           12.160584         7485           27.317518
68     77         4122           15.043796         8610           31.423358
69     78         8437           30.791971         5154           18.810219
70     79         2935           10.711679         2238            8.167883
71     81         3250           11.861314         2818           10.284672
72     82         2734            9.978102         3579           13.062044
101   123         3859           14.083942         5365           19.580292

     meses
3      274
5      274
6      274
12     274
13     274
14     274
15     274
16     274
17     274
18     274
19     274
20     274
21     274
22     274
23     274
24     274
25     274
26     274
27     274
28     274
29     274
30     274
31     274
32     274
33     274
34     274
35     274
36     274
37     274
38     187
40     274
43     274
45     274
46     274
47     274
48     274
49     274
50     274
51     274
52     274
53     274
55     274
57     274
59     274
62     274
63     274
64     274
65     274
66     274
67     274
68     274
69     274
70     274
71     274
72     274
101    274

In [18]:
rmrj = [
    "Rio de Janeiro", "Niterói", "São Gonçalo", "Duque de Caxias",
    "Nova Iguaçu", "São João de Meriti", "Belford Roxo",
    "Magé", "Itaboraí", "Mesquita", "Nilópolis",
    "Queimados", "Japeri", "Maricá", "Guapimirim",
    "Tanguá"
]

In [25]:
df_rmrj = df[df["regiao"].isin(rmrj)]

df

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36898,159,10,2025,2025m10,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,4.0,0.0,37,2,0,0,0,0,163,2
36899,165,10,2025,2025m10,33,5,Mangaratiba,3302601,Interior,1,...,4.0,0.0,21,0,0,0,0,0,196,2
36900,166,10,2025,2025m10,33,5,Angra dos Reis,3300100,Interior,3,...,12.0,0.0,82,8,0,1,0,0,682,2
36901,167,10,2025,2025m10,43,5,Paraty,3303807,Interior,1,...,2.0,1.0,11,1,0,0,0,0,195,2
36902,168,10,2025,2025m10,28,5,Rio Claro,3304409,Interior,0,...,0.0,0.0,3,1,0,0,0,0,66,2

In [28]:
grupo = df_rmrj.groupby("regiao").agg(
    total_furto = ("furto_veiculos", "sum"),
    media_mensal = ("furto_veiculos", "mean"),
    mediana_mensal = ("furto_veiculos", "median"),
    max_pico = ("furto_veiculos", "max")
).reset_index()

grupo

Empty DataFrame
Columns: [regiao, total_furto, media_mensal, mediana_mensal, max_pico]
Index: []

In [27]:
q1 = grupo['total_furto'].quantile(0.25)
q3 = grupo['total_furto'].quantile(0.75)
iqr = q3 - q1

limite = q3 + 1.5 * iqr

outliers = grupo[grupo['total_furto'] > limite]
outliers

Empty DataFrame
Columns: [regiao, total_furto, media_mensal, mediana_mensal, max_pico]
Index: []