In [48]:
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep= ';')
 

# Inspecionar colunas e primeiras linhas
print(df.columns)
print(df.head())

Index(['cisp', 'mes', 'ano', 'mes_ano', 'aisp', 'risp', 'munic', 'mcirc',
       'regiao', 'hom_doloso', 'lesao_corp_morte', 'latrocinio', 'cvli',
       'hom_por_interv_policial', 'letalidade_violenta', 'tentat_hom',
       'lesao_corp_dolosa', 'estupro', 'hom_culposo', 'lesao_corp_culposa',
       'roubo_transeunte', 'roubo_celular', 'roubo_em_coletivo', 'roubo_rua',
       'roubo_veiculo', 'roubo_carga', 'roubo_comercio', 'roubo_residencia',
       'roubo_banco', 'roubo_cx_eletronico', 'roubo_conducao_saque',
       'roubo_apos_saque', 'roubo_bicicleta', 'outros_roubos', 'total_roubos',
       'furto_veiculos', 'furto_transeunte', 'furto_coletivo', 'furto_celular',
       'furto_bicicleta', 'outros_furtos', 'total_furtos', 'sequestro',
       'extorsao', 'sequestro_relampago', 'estelionato', 'apreensao_drogas',
       'posse_drogas', 'trafico_drogas', 'apreensao_drogas_sem_autor',
       'recuperacao_veiculos', 'apf', 'aaapai', 'cmp', 'cmba', 'ameaca',
       'pessoas_desaparecidas', 'encontro_cadaver', 'encontro_ossada',
       'pol_militares_mortos_serv', 'pol_civis_mortos_serv',
       'registro_ocorrencias', 'fase'],
      dtype='object')
   cisp  mes   ano  mes_ano  aisp  risp           munic    mcirc   regiao  \
0     1    1  2003  2003m01     5     1  Rio de Janeiro  3304557  Capital
1     4    1  2003  2003m01     5     1  Rio de Janeiro  3304557  Capital
2     5    1  2003  2003m01     5     1  Rio de Janeiro  3304557  Capital
3     6    1  2003  2003m01     1     1  Rio de Janeiro  3304557  Capital
4     7    1  2003  2003m01     1     1  Rio de Janeiro  3304557  Capital

   hom_doloso  ...  cmp  cmba  ameaca  pessoas_desaparecidas  \
0           0  ...  NaN   NaN      21                      2
1           3  ...  NaN   NaN      15                      6
2           3  ...  NaN   NaN      47                      2
3           6  ...  NaN   NaN      26                      2
4           4  ...  NaN   NaN      10                      1

   encontro_cadaver  encontro_ossada  pol_militares_mortos_serv  \
0                 0                0                          0
1                 0                1                          0
2                 1                0                          0
3                 1                0                          0
4                 3                0                          0

   pol_civis_mortos_serv  registro_ocorrencias  fase
0                      0                   578     3
1                      0                   441     3
2                      0                   637     3
3                      0                   473     3
4                      0                   147     3

[5 rows x 63 columns]

In [90]:
df_metropolitana = ['Rio de Janeiro', 'Niteroi']

# Filtrar apenas os dados do Rio de Janeiro (se a coluna for 'munic')
df_capital = df.loc[df['munic'].isin(df_metropolitana)]

# Criar a coluna 'veiculo' como soma de furtos e roubos de veículos
df_capital['veiculo'] = df_capital['furto_veiculos'] + df_capital['roubo_veiculo']

# Exibir as primeiras linhas para conferir
df_capital

C:\Users\marcelino.fernandes\AppData\Local\Temp\ipykernel_58816\703158287.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_capital['veiculo'] = df_capital['furto_veiculos'] + df_capital['roubo_veiculo']

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase,veiculo
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,21,2,0,0,0,0,578,3,17
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,15,6,0,1,0,0,441,3,18
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,47,2,1,0,0,0,637,3,39
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,26,2,1,0,0,0,473,3,44
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,10,1,3,0,0,0,147,3,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36802,40,10,2025,2025m10,9,2,Rio de Janeiro,3304557,Capital,4,...,0.0,25,5,1,0,0,0,628,2,69
36803,41,10,2025,2025m10,18,2,Rio de Janeiro,3304557,Capital,0,...,0.0,49,0,0,0,0,0,856,2,35
36804,42,10,2025,2025m10,31,2,Rio de Janeiro,3304557,Capital,3,...,2.0,102,6,3,0,0,0,1450,2,79
36805,43,10,2025,2025m10,27,2,Rio de Janeiro,3304557,Capital,2,...,1.0,110,13,1,0,0,0,691,2,22
36806,44,10,2025,2025m10,3,1,Rio de Janeiro,3304557,Capital,1,...,1.0,32,6,0,0,0,0,776,2,45

In [ ]:
# Agrupar por CISP e somar o total de furtos + roubos de veículos
df_veiculo_capital = df_capital.groupby('cisp')['veiculo'].sum().reset_index()

# Ordenar do CISP com mais ocorrências para o menor
df_veiculo_capital = df_veiculo_capital.sort_values(by='veiculo', ascending=False)

# Mostrar o resultado
df_veiculo_capital

In [76]:
print(df_veiculo_capital[['cisp', 'veiculo']].head(10))

    cisp  veiculo
23    27    39024
30    34    36897
31    35    33436
35    39    32500
34    38    25999
29    33    25899
17    21    25267
18    22    22896
36    40    22451
25    29    21722

In [ ]:
# Filtrar os dados da região metropolitana
df_metropolitana = df_capital[df_capital['regiao'] == 'Metropolitana'].copy()
df_metropolitana

Empty DataFrame
Columns: [cisp, mes, ano, mes_ano, aisp, risp, munic, mcirc, regiao, hom_doloso, lesao_corp_morte, latrocinio, cvli, hom_por_interv_policial, letalidade_violenta, tentat_hom, lesao_corp_dolosa, estupro, hom_culposo, lesao_corp_culposa, roubo_transeunte, roubo_celular, roubo_em_coletivo, roubo_rua, roubo_veiculo, roubo_carga, roubo_comercio, roubo_residencia, roubo_banco, roubo_cx_eletronico, roubo_conducao_saque, roubo_apos_saque, roubo_bicicleta, outros_roubos, total_roubos, furto_veiculos, furto_transeunte, furto_coletivo, furto_celular, furto_bicicleta, outros_furtos, total_furtos, sequestro, extorsao, sequestro_relampago, estelionato, apreensao_drogas, posse_drogas, trafico_drogas, apreensao_drogas_sem_autor, recuperacao_veiculos, apf, aaapai, cmp, cmba, ameaca, pessoas_desaparecidas, encontro_cadaver, encontro_ossada, pol_militares_mortos_serv, pol_civis_mortos_serv, registro_ocorrencias, fase, veiculo]
Index: []

[0 rows x 64 columns]

In [78]:
# Agrupar por município e somar as ocorrências de furto de veículos
df_furtos_municipio = df_metropolitana.groupby('munic')['furto_veiculos'].sum().reset_index()

In [79]:
# Calcular estatísticas descritivas (média, desvio padrão, quartis)
media_furtos = df_furtos_municipio['furto_veiculos'].mean()
desvio_padrao_furtos = df_furtos_municipio['furto_veiculos'].std()
q1 = df_furtos_municipio['furto_veiculos'].quantile(0.25)
q3 = df_furtos_municipio['furto_veiculos'].quantile(0.75)
iqr = q3 - q1

In [80]:
# Definir os limites inferior e superior para outliers (1.5 * IQR)
limite_inferior = q1 - 1.5 * iqr
limite_superior = q3 + 1.5 * iqr

In [81]:
# Identificar municípios que são outliers (fora dos limites)
outliers = df_furtos_municipio[(df_furtos_municipio['furto_veiculos'] < limite_inferior) | 
                               (df_furtos_municipio['furto_veiculos'] > limite_superior)]

In [82]:
# Exibir os outliers
print(outliers)

Empty DataFrame
Columns: [munic, furto_veiculos]
Index: []